<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('../partials/nav') %>
    <h1><%= title %></h1>
    
    <% if (type === 'sites') { %>
      <h2>Адреси улюблених сайтів:</h2>
      <ul>
        <% links.forEach(function(link) { %>
          <li>
            <a href="<%= link.url %>" target="_blank"><%= link.name %></a>
          </li>
        <% }); %>
      </ul>
    <% } else if (type === 'films') { %>
      <h2>Адреси улюблених онлайн кінотеатрів:</h2>
      <ul>
        <% links.forEach(function(link) { %>
          <li>
            <a href="<%= link.url %>" target="_blank"><%= link.name %></a>
          </li>
        <% }); %>
      </ul>
    <% } else if (type === 'me') { %>
      <h2>Інформація про себе:</h2>
      <div>
        <p><strong>Ім'я:</strong> <%= info.name %></p>
        <p><strong>Вік:</strong> <%= info.age %></p>
        <p><strong>Професія:</strong> <%= info.profession %></p>
        <p><strong>Інтереси:</strong></p>
        <ul>
          <% info.interests.forEach(function(interest) { %>
            <li><%= interest %></li>
          <% }); %>
        </ul>
        <p><strong>Опис:</strong> <%= info.description %></p>
      </div>
    <% } else { %>
      <p><%= message || 'Невідомий тип інформації' %></p>
    <% } %>
  </body>
</html>

