<nav>
  <ul>
    <li><a href="/" class="<%= currentPage === 'home' ? 'active' : '' %>">Головна</a></li>
    <li><a href="/season" class="<%= currentPage === 'season' ? 'active' : '' %>">Пора року</a></li>
    <li><a href="/day" class="<%= currentPage === 'day' ? 'active' : '' %>">Поточний день</a></li>
    <li><a href="/time" class="<%= currentPage === 'time' ? 'active' : '' %>">Час дня</a></li>
    <li><a href="/music" class="<%= currentPage === 'music' ? 'active' : '' %>">Музика</a></li>
    <li><a href="/coffee" class="<%= currentPage === 'coffee' ? 'active' : '' %>">Кава</a></li>
    <li><a href="/goals" class="<%= currentPage === 'goals' ? 'active' : '' %>">Цілі</a></li>
    <li><a href="/news" class="<%= currentPage === 'news' ? 'active' : '' %>">Новини</a></li>
    <li><a href="/about" class="<%= currentPage === 'about' ? 'active' : '' %>">Про нас</a></li>
    <li><a href="/store" class="<%= currentPage === 'store' ? 'active' : '' %>">Магазин</a></li>
  </ul>
</nav>

