<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= formTitle %></title>
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="/stylesheets/types/list.css">
</head>
<body>
  <%- include('../sections/header', { title: formTitle }) %>
  <div class="container">
    <h1><%= formTitle %></h1>
    <% if (typeof errors !== 'undefined' && errors.length) { %>
      <div class="error-message">
        <ul>
          <% errors.forEach(function(error) { %>
            <li><%= error.msg %></li>
          <% }) %>
        </ul>
      </div>
    <% } %>
    <form action="<%= formAction %>" method="POST" class="entity-form">
      <div class="form-group">
        <label for="title">Назва</label>
        <input type="text" id="title" name="title" value="<%= type ? type.title : '' %>" required>
      </div>
      <button type="submit" class="btn-save">Зберегти</button>
      <a href="/types" class="btn-cancel">Скасувати</a>
    </form>
  </div>
  <%- include('../sections/footer') %>
</body>
</html>
